<ion-header>
  <ion-toolbar color="warning">
    <ion-title>
      NASA APOD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ title }}</ion-card-title>
            <ion-card-subtitle
              >{{ copyrights }} - {{ dateRetrived }}</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content>
            <ion-img [src]="url"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-buttons>
          <ion-button slot="start" color="primary" (click)="showDetails()">
            <ion-icon slot="start" name="bulb"></ion-icon>
            {{ moreInformation ? hideButtonLabel : showButtonLabel }}
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" offset-md="2">
        <ion-card *ngIf="moreInformation">
          <ion-card-content text-justify>
            {{ explanation }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
